/checkinv4/plugins/android.json
/checkinv4/plugins/ios.json
/checkinv4/plugins/org.apache.cordova.camera/
/checkinv4/plugins/org.apache.cordova.console/
/checkinv4/plugins/org.apache.cordova.file/
/checkinv4/plugins/org.apache.cordova.battery-status/
/checkinv4/plugins/org.apache.cordova.geolocation/
/checkinv4/plugins/org.apache.cordova.globalization/
/checkinv4/plugins/org.apache.cordova.media-capture/
/checkinv4/plugins/org.apache.cordova.file-transfer/
/checkinv4/plugins/org.apache.cordova.network-information/
/checkinv4/plugins/org.apache.cordova.contacts/
/checkinv4/plugins/org.apache.cordova.dialogs/
/checkinv4/plugins/org.apache.cordova.device-orientation/
/checkinv4/plugins/org.apache.cordova.splashscreen/
/checkinv4/plugins/org.apache.cordova.device/
/checkinv4/plugins/org.apache.cordova.media/
/checkinv4/plugins/org.apache.cordova.vibration/
/checkinv4/plugins/org.apache.cordova.device-motion/
/checkinv4/nbproject/
/checkinv3/nbproject/
/checkinv2/nbproject/
/checkinv1/nbproject/
/checkinv4/app/assets/
/checkinv4/app/classes.dex
/checkinv4/app/res/
/checkinv4/app/META-INF/
/checkinv4/app/AndroidManifest.xml
/checkinv4/app/resources.arsc
/checkinv4/platforms/ios/build/
/checkinv4/platforms/android/CordovaLib/ant-build/
/checkinv4/platforms/ios/CordovaLib/build/
/checkin/nbproject/private/